services:
  frontend:
    build:
      context: ./services/frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "5000:5000"
    env_file:
      - ./services/frontend/.env
    networks:
      - transcendence-network
    depends_on:
      - api_gateway
  api_gateway:
    build:
      context: ./services/api_gateway
      dockerfile: Dockerfile
    container_name: api_gateway
    depends_on:
      - auth
      - tournament
      - user-mgmt
      - chat
      - notification
      - game_backend
      - skyjo_backend
    env_file:
      - ./.env.shared
    ports:
      - "3000:3000"
    networks:
      - transcendence-network
    volumes:
      - logs-volume:/usr/src/logs
  auth:
    build:
      context: ./services/auth
      dockerfile: Dockerfile
    container_name: auth
    depends_on:
      rabbit:
        condition: service_healthy
      redis:
        condition: service_started
    env_file:
      - ./.env.shared
      - ./services/auth/.env
    # ports:
    #   - "3001:3001"
    networks:
      - transcendence-network
    volumes:
      - logs-volume:/usr/src/logs
      - auth-db:/usr/src/app/prisma
  tournament:
    build:
      context: ./services/tournament
      dockerfile: Dockerfile
    container_name: tournament
    depends_on:
      rabbit:
        condition: service_healthy
    env_file:
      - ./services/tournament/.env
    networks:
      - transcendence-network
    volumes:
      - logs-volume:/usr/src/logs
      - tournament-db:/usr/src/app/prisma
  user-mgmt:
    build:
      context: ./services/user-mgmt
    container_name: user-mgmt
    depends_on:
      rabbit:
        condition: service_healthy
    env_file:
      - ./.env.shared
      - ./services/user-mgmt/.env
    networks:
      - transcendence-network
    volumes:
      - logs-volume:/usr/src/logs
      - user-mgmt-db:/usr/src/app/prisma
      - uploads-data:/usr/src/app/uploads
  chat:
    build:
      context: ./services/chat
    container_name: chat
    env_file:
      - ./.env.shared
      - ./services/chat/.env
    depends_on:
      rabbit:
        condition: service_healthy
    networks:
      - transcendence-network
    volumes:
      - logs-volume:/usr/src/logs
      - chat-db:/usr/src/app/prisma
  game_backend:
    build:
      context: ./services/game_backend
    container_name: game_backend
    depends_on:
      rabbit:
        condition: service_healthy
    env_file:
      - ./.env.shared
    environment:
      - NODE_ENV=production
    networks:
      - transcendence-network
    volumes:
      - game-backend-db:/app

  skyjo_backend:
    build:
      context: ./services/skyjo_backend
    container_name: skyjo_backend
    environment:
      - NODE_ENV=production
    networks:
      - transcendence-network
    volumes:
      - skyjo-backend-db:/app
  notification:
    build:
      context: ./services/notification
    container_name: notification
    depends_on:
      rabbit:
        condition: service_healthy
      user-mgmt:
        condition: service_started
    env_file:
      - ./.env.shared
      - ./services/notification/.env
    networks:
      - transcendence-network
    volumes:
      - logs-volume:/usr/src/logs
  redis:
    image: redis:7-alpine
    container_name: redis
    networks:
      - transcendence-network
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
  rabbit:
    image: rabbitmq:3-management
    container_name: rabbit
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "status"]
      interval: 5s
      timeout: 10s
      retries: 10
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - transcendence-network
    volumes:
      - rabbit-data:/var/lib/rabbitmq
  prometheus:
    depends_on:
      - cadvisor
      - node_exporter
    restart: unless-stopped 
    container_name: prometheus
    build: ./services/prometheus/.
    networks:
      - monitoring-network
    volumes:
      - prometheus-data:/prometheus
    ports:
     - "9090:9090"
  grafana:
    depends_on:
      - prometheus
    restart: unless-stopped 
    container_name: grafana
    build: 
      context: ./services/grafana/.
      secrets:
        - admin_password
    networks:
      - monitoring-network
    ports:
      - "6969:6969"
  node_exporter:
    image: quay.io/prometheus/node-exporter:latest
    container_name: node_exporter
    command:
      - '--path.rootfs=/host'
    networks:
      - monitoring-network
    pid: host
    restart: unless-stopped
    volumes:
      - '/:/host:ro,rslave'
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    volumes:
      - "/:/rootfs:ro"
      - "/var/run:/var/run:ro"
      - "/sys:/sys:ro"
      - "/var/lib/docker/:/var/lib/docker:ro"
      - "/dev/disk/:/dev/disk:ro"
    devices:
      - "/dev/kmsg:/dev/kmsg"
    networks:
      - monitoring-network
    restart: unless-stopped

networks:
  transcendence-network:
    name: transcendence-network
    driver: bridge
  monitoring-network:
    name: monitoring-network
    driver: bridge

volumes:
  logs-volume:
    name: logs-volume
    driver: local
  redis-data:
    name: redis-data
    driver: local
  rabbit-data:
    name: rabbit-data
    driver: local
  auth-db:
    name: auth-db
    driver: local
  tournament-db:
    name: tournament-db
    driver: local
  user-mgmt-db:
    name: user-mgmt-db
    driver: local
  chat-db:
    name: chat-db
    driver: local
  game-backend-db:
    name: game-backend-db
    driver: local
  skyjo-backend-db:
    name: skyjo-backend-db
    driver: local
  uploads-data:
    name: uploads-data
    driver: local
  prometheus-data:
    driver: local

secrets:
  admin_password:
    file: ./secrets/admin_password
