<h1>Password reset request</h1>
<p>We received a request to reset your password.</p>
<p>Use the code below to reset your password (valid for the limited time):</p>
<h2><%= code %></h2>
<p>Or click the link to open the reset page:</p>
<p><a href="<%= link %>"><%= link %></a></p>
<p>If you didn't request this, you can safely ignore this email.</p>
