global:
  scrape_interval: 15s
  external_labels:
    monitor: 'codelab-monitor'

rule_files:
  - 'rules.yml'

scrape_configs:
  - job_name: 'node_exporter'
    static_configs:
      - targets: ['node_exporter:9100']

  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']
